Source: libcz-ldaptools-perl
Section: admin
Priority: optional
Maintainer: Bill MacAllister <bill@ca-zephyr.org>
Build-Depends: debhelper (>= 12),
 libauthen-krb5-perl,
 libipc-run-perl,
 libnet-ldapapi-perl,
 ldap-utils,
 perl,
 perltidy,
 slapd
Standards-Version: 4.0.6.1

Package: libcz-ldaptools-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libauthen-krb5-perl,
 libipc-run-perl,
 libnet-ldapapi-perl,
 perl
Recommends: perl-doc
Description: Utility Perl module for LDAP scripts
 This package contains perl modules to aid in the maintenance of
 LDAP servers.

