Source: libcz-ldaptools-perl
Section: admin
Priority: optional
Maintainer: Bill MacAllister <bill@ca-zephyr.org>
Build-Depends: debhelper (>= 13),
 libipc-run-perl,
 libnet-ldapapi-perl,
 ldap-utils,
 perl,
 perltidy,
 slapd
Standards-Version: 4.7.0.0

Package: libcz-ldaptools-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libipc-run-perl,
 libnet-ldapapi-perl,
 perl
Recommends: perl-doc
Description: Utility Perl module for LDAP scripts
 This package contains perl modules to aid in the maintenance of
 LDAP servers.

